{
  "plugins": ["prettier-plugin-tailwindcss"],
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSameLine": false,
  "printWidth": 120,
  "proseWrap": "always",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf"
}
